.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 2rem;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #16a34a;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 0rem;
  color: #374151;
}
.home-container button {
  padding: 0.75rem 2rem;
  margin-top: 4rem;
  font-size: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.home-container button:hover {
  background-color: #15803d;
}